@use "../../scss/common/index" as m;

#enter_password {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    user-select: none;
    gap: 0.5em;

    .money {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        text-align: center;
        // background-color: lawngreen;
        gap: 0.5em;
        $fz : 2rem;
        margin-top: 2em;

        span {
            font-size: $fz;
            font-weight: bold;
        }

        img {
            height: 3rem;
            opacity: 0.8;
        }
    }

    >.display {
        // background-color: lavender;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        >p {
            text-align: center;
            font-size: 0.8em;
            // font-weight: 500;
            color: gray;
        }

        >h2 {
            font-size: 1em;
            text-align: center;
        }

        >.disp {
            // background-color: lavender;
            justify-content: center;
            display: flex;
            gap: 2em;

            >.dot {
                border-radius: 50%;
                aspect-ratio: 1 / 1;
                width: 0.8em;
                transition: 0.2s linear all;
                background-color: var(--input-bg);
            }

            >.dot.active {
                background-color: var(--text);
            }
        }
    }

    // *{
    //     outline: 1px solid red;
    // }
    >.keyboard {
        width: 100%;

        .keys {

            display: grid;
            grid-template-columns: auto auto auto;
            place-items: center;
            gap: 3vmin 0;
            margin-bottom: 1em;

            .key {
                @include m.press();
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #55555511;
                width: 22vmin;
                aspect-ratio: 1 / 1;

                span {
                    font-size: 1.5em;
                    font-weight: 500;
                }

                img {
                    height: 1.5em;
                }

            }

            .blank {
                opacity: 0;
            }
        }

        >.bottom {
            width: 100%;

            span {
                font-size: 0.9em;
                color: gray;
                text-align: center;
            }

            @include m.flex();
        }
    }
}